.container {
    align-items: center;
    width: 500px;
    height: 629px;
    margin: auto;
    margin-top: 75px;
    border-radius: 12px;
    background-color: blueviolet;

}

.inputBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding-top: 30px;
}

.inputBox input {

    display: flex;
    width: 262px;
    height: 78px;
    background: #ebfffc;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}

.inputBox button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    background: #ebfffc;
    border-radius: 40px;
    cursor: pointer;
}

.info {
    padding-top: 10px;
    text-align: center;
}

img {
    height: 20vh;
}

.location {
    font-size: 44px;
    color: white;
}

.temp {
    font-size: 56px;
    color: white;
}

.data-container {
    margin-top: 10px;
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.data {
    margin: auto;
    align-items: flex-start;
    gap: 12px;
    font-size: 34px;
    font-weight: 400;
}